@import "tailwindcss";

:root {

  /* 기존 어두운 색 주석 처리 또는 삭제 */
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */

  /* 밝은 색상으로 변경 */
  color: #213547;
  background-color: #ffffff;
}

/* 라우팅 링크 색상 변경 */
/* a {
  font-weight: bold;
  color: red;
} */