.container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.inputFull { 
  width: 100%;
  padding: 14px 20px;
  font-size: 18px;
  border-radius: 12px;
  border: 1.5px solid #ccc; 
  outline: none;
  box-sizing: border-box;
}

.inputGroup {
  position: relative;
  display: flex;
  align-items: center;
}

.inputHalf {
  flex: 1;
  padding: 14px 60px 14px 20px;
  font-size: 18px;
  border-radius: 12px;
  border: 1.5px solid #ccc;
  outline: none;
  box-sizing: border-box;
}

.smallButton {
  position: absolute;
  right: 4px;
  top: 50%;
  transform: translateY(-50%);
  height: 50%;
  padding: 0 12px;
  font-size: 12px;
  border-radius: 12px;
  border: 1.5px solid #ccc;
  background-color: grey;
  color: white;
  cursor: pointer;
}

.verificationMessage {
  color: green;
  font-weight: bold;
  margin-top: -10px;
  margin-bottom: 10px;
  margin-left: 4px;
}

.smallButton:disabled {
  background-color: #aaa;
  cursor: not-allowed;
}

.errorMessage {
  color: red;
  font-weight: bold;
  margin-top: -10px;
  margin-bottom: 10px;
  margin-left: 4px;
}
